.slideshow-container {
    position: relative;
    width: 100%; 
    max-width: 1200px; 
    height: 80vh; 
    margin: 0 auto; 
    overflow: hidden;
   
    border-radius: 10px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
}

.slideshow-image {
    width: 100%; 
    height: 100%; 
    object-fit:cover; 
    object-position: center;
    
}

.slide {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; 
    height: 100%; 
}

.active {
    display: block;
}

.prev-btn,
.next-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: 50px; 
    background-color: rgba(82, 78, 78, 0.5); 
    border: none;
    font-size: 20px;
    cursor: pointer;
    color: black;
    transition: background-color 0.001s ease; 
}

.prev-btn:hover,
.next-btn:hover {
    background-color: rgba(255, 255, 255, 0.8);
}

.prev-btn {
    left: 10px; 
}

.next-btn {
    right: 10px; 
}
.slideshow-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    z-index: 1; 
    font-size: xx-large;
}
.slideshow-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    z-index: 1; 
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5); 
    border-radius: 10px;
}

.slide {
    position: relative; 
}

.slide::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3); 
    z-index: 0; 
    border-radius: 10px; 
}

.prev-btn,
.next-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
}


.slide {
    opacity: 0;
    transition: opacity 0.5s ease;
}

.slide.active {
    opacity: 1;
}
